#vcomment {
    font-size: 1.1em;
  }
  #vcomment .vbtn {
    border: none;
    background: var(--btn-bg);
    color: var(--btn-color);
  }
  #vcomment .vbtn:hover {
    background: var(--btn-hover-color);
  }
  #vcomment textarea {
    background: url("https://cdn.jsdelivr.net/gh/GamerNoTitle/Picture-repo-v1@master/img/Settings/Valine-BG.jpg") 100% 100% no-repeat;
  }
  #vcomment textarea:focus {
    background-image: none;
  }
  #vcomment .vimg {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  #vcomment .vimg:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  #vcomment .vcards .vcard .vcontent.expand:before,
  #vcomment .vcards .vcard .vcontent.expand:after {
    z-index: 22;
  }